:root {
    --mainDark: #343a40;
    --mainGrey: rgba(109, 109, 109);
    --mainLightGrey: #fff387;
    --mainWhite: #fff;
  }

  .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  h4{font-weight:normal;border-bottom:1px solid #cccccc;}